@page "/"
@using Motor_Information_Form.Data.Models
@using Motor_Information_Form.Data.Services
@inject MotorInformationService MotorInformationService

<h1 class="h1 fst-italic">VIM</h1>
<h2 class="h5 mb-5 opacity-50">Vehicle Information Management</h2>


<div>

    <script>
        function validateInput(input) {
            input.value = input.value.replace(/[^a-zA-Z0-9]/g, '');
        }
    </script>

    <div class="mb-5">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Registration Number:</span>
            <input @bind="RegistrationNumber" type="text" class="form-control text-uppercase" aria-describedby="basic-addon3 basic-addon4" id="validatedInput" oninput="validateInput(this)">
            <button type="button" class="btn btn-primary" id="button-addon2" @onclick="GetVehicleDetails">Get Vehicle Info</button>
        </div>
    </div>


</div>

@if (VehicleInfo != null)
{
    <p class="h5">General Information</p>
    <table class="table table-striped w-100 mb-5">
        <tbody>
            <tr>
                <th scope="row">Make</th>
                <td class="text-end">@VehicleInfo.make</td>
            </tr>
            <tr>
                <th scope="row">Color</th>
                <td class="text-end">@VehicleInfo.colour</td>
            </tr>
            <tr>
                <th scope="row">Manufactured in</th>
                <td class="text-end">@VehicleInfo.yearOfManufacture</td>
            </tr>
            <tr>
                <th scope="row">Fuel Type (Petrol, Diesel, etc.)</th>
                <td class="text-end">@VehicleInfo.fuelType</td>
            </tr>
            <tr>
                <th scope="row">Engine Size</th>
                <td class="text-end">@VehicleInfo.engineCapacity Litres</td>
            </tr>
        </tbody>
    </table>

    <p class="h5">DVLA Specific Information</p>
    <table class="table table-striped w-100 mb-5">
        <tbody>
            <tr>
                <th scope="row">MOT Validation</th>
                <td class="text-end">@VehicleInfo.motStatus</td>
            </tr>
            <tr>
                <th scope="row">Tax Status</th>
                <td class="text-end">@VehicleInfo.taxStatus</td>
            </tr>
        </tbody>
    </table>

    <p class="h5">Optional Information</p>
    <table class="table table-striped w-100 mb-5">
        <tbody>
            <tr>
                <th scope="row">Weight</th>
                <td class="text-end">@VehicleInfo.revenueWeight kg</td>
            </tr>
    </table>
}
else if (IsError)
{
    <p style="color: #dc3545">Unable to retrieve vehicle information. Did you enter a valid Registration?</p>
}

@code {
    private string RegistrationNumber { get; set; } = string.Empty;
    private MotorInformation? VehicleInfo { get; set; }
    private bool IsError { get; set; } = false;

    private async Task GetVehicleDetails()
    {
        IsError = false;
        try
        {
            VehicleInfo = await MotorInformationService.PostReg(RegistrationNumber);
        }
        catch (HttpRequestException)
        {
            IsError = true;
        }
    }
}
